---
import BaseHead from "../components/BaseHead.astro";
import Header from "../components/Header.astro";
import Footer from "../components/Footer.astro";
import { SITE_TITLE, SITE_DESCRIPTION } from "../consts";
---

<!DOCTYPE html>
<html lang="en">
  <head>
    <BaseHead title={SITE_TITLE} description={SITE_DESCRIPTION} />
  </head>
  <body>
    <Header title={SITE_TITLE} />
    <main>
      This is a blog where I'm trying to deal with my life as a software
      developer. Thanks for reading!
    </main>
    <Footer />
    <script type="module">
      // Import the functions you need from the SDKs you need
      import { initializeApp } from "https://www.gstatic.com/firebasejs/9.21.0/firebase-app.js";
      import { getAnalytics } from "https://www.gstatic.com/firebasejs/9.21.0/firebase-analytics.js";
      // TODO: Add SDKs for Firebase products that you want to use
      // https://firebase.google.com/docs/web/setup#available-libraries

      // Your web app's Firebase configuration
      // For Firebase JS SDK v7.20.0 and later, measurementId is optional
      const firebaseConfig = {
        apiKey: "AIzaSyDOGUVhWsh77kyqxVSRZ5cmY6EebMIRpwg",
        authDomain: "blogogo-684b5.firebaseapp.com",
        projectId: "blogogo-684b5",
        storageBucket: "blogogo-684b5.appspot.com",
        messagingSenderId: "610678351453",
        appId: "1:610678351453:web:385bdf1fa98fb95b460fb4",
        measurementId: "G-PTHY3Y4VQH",
      };

      // Initialize Firebase
      const app = initializeApp(firebaseConfig);
      const analytics = getAnalytics(app);
    </script>
  </body>
</html>
